body{
    background-color: blue;
    color: white;
    font-family: sans-serif;
}


main{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 3rem;
    color: black;
    text-align: center;
}